<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.mycompany.webapp.dao.ManagePatientDAO">
 
    <select id="patientList" resultType="patient">
		SELECT 
			patient_id as patientId,
			patient_name as patientName,
			patient_age as patientAge,
			patient_sex as patientSex,
			patient_ssn1 as patientSsn1,
			patient_ssn2 as patientSsn2,
			patient_phone as patientPhone,
			patient_zip as patientZip, 
			address,
			address_detail as addressDetail
		FROM
			patient
	</select>

	<update id="updatePatient" parameterType="patient">
		UPDATE 
			patient
		SET	
			patient_phone = #{patientPhone},
			patient_zip = #{patientZip},
			address = #{address},
			address_detail = #{addressDetail}
		WHERE 
			patient_id = #{patientId}
	</update>
</mapper>
  